.mat-form-field {
    width: 600px;
}
.form-container {
    align-items: center;
    justify-content: center;
    text-align:center;
}
.state-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.unit-container {
    margin-top: 10px;
    margin-bottom: 10px;
}