<div class="button-container">
    <button mat-fab (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- <ng-container *ngIf = "apiTaskList.length"> -->
<div class="table-container mat-elevation-z8" [ngClass]="{'table-hidden': apiTaskList.length === 0}">
    <mat-table #table [dataSource]="apiTaskList">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estimate">
            <mat-header-cell *matHeaderCellDef> Estimate </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estimate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estimateUnit">
            <mat-header-cell *matHeaderCellDef> Estimate Unit</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estimateUnit}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip [ngClass]="{
                    'green-chip': element.state === 'Complete',
                    'yellow-chip': element.state === 'In-Progress',
                    'red-chip': element.state === 'Planned'
                  }">
                        {{element.state}}
                    </mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='action'>
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon class='edit-button' (click)="editRow(row)">edit</mat-icon>
                <mat-icon class='delete-button' (click)="deleteRow(row)">delete</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<!-- </ng-container> -->