<div class='task-manager-grid-container'>

    <mat-card class='tutorial-card'>
        <mat-card-content>
            Start by pressing the
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
            button to create a new task
        </mat-card-content>
    </mat-card>

    <mat-card class='task-list-container'>
        <mat-card-title>Task List</mat-card-title>

        <app-task-list></app-task-list>
    </mat-card>

    <mat-card class='task-status-container'>
        <mat-card-title>Task Status</mat-card-title>

        <app-task-status></app-task-status>
    </mat-card>

</div>