<div class="form-container">
    <h1>Create a New Task</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm)">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Task Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <textarea class='description' matInput formControlName="description" placeholder="Task Description"
                rows="5"></textarea>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="estimate" placeholder="Estimate">
        </mat-form-field>

        <div class = 'unit-container'>
            <label>Estimate Unit: </label>
            <mat-radio-group formControlName="estimateUnit">
                <mat-radio-button *ngFor = "let unit of units" value="{{unit}}">{{unit}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class = 'state-container'>
            <label>State of Task: </label>
            <mat-radio-group formControlName="state">
                <mat-radio-button *ngFor = "let state of states" value="{{state}}">{{state}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <button mat-raised-button color="primary" type="submit">Send</button>

    </form>
</div>